<div class="sign-up about-us dashboard-user">
  <%= render 'shared/navbar' %>

  <div class="container">
    <h2>Hello Jérémy, </h2>
  </div>
</div>

<div class="dashboard">
  <div class="container">
    <div class="title">Mon Profil</div>

    <div class="profile">

      <div class="row">
        <div class="col-md-4">
          <div class="right">
            <div class="text-center">
              <%= image_tag "https://pbs.twimg.com/profile_images/726874824119713792/cOb1ZGRt.jpg", class: "user-img" %>
              <div class="name">Jérémy Goillot</div>
            </div>
            <div class="menu">
              <div class="about active">
                <i class="fa fa-user-secret" aria-hidden="true"></i>
                 Informations personnelles
              </div>
              <div class="jlist">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <%= link_to "Mes Journalistes", favorite_journalists_path %>
              </div>
              <div class="jlist">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <a href="#">Mon Twitter</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="personal-info">
            <div class="title-2">
              Mes journalistes favoris
            </div>

            <div class="my-journalists">
              <% @journalists.each do |journalist| %>
              <div class="fav-journalist">
                <div class="header">
                  <div class="fav-left">
                    <% if journalist.photo_url %>
                      <%= image_tag journalist.photo_url, class:"javatar" %>
                    <% else %>
                      <%= image_tag "steve-avatar.png", class:"javatar" %>
                    <% end %>
                  </div>
                  <div class="keywords">
                    <span class="tag">IoT</span>
                    <span class="tag">Big Data</span>
                  </div>
                </div>
                <div class="fav-content">
                  <h3><%= journalist.first_name %> <%= journalist.last_name %></h3>
                  <div class="l2">
                    <div>
                      <h5><%= journalist.company %></h5>
                    </div>
                    <div>
                      <i class="fa fa-twitter hvr-bounce-in" aria-hidden="true"></i>
                      <i class="fa fa-envelope hvr-bounce-in" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="description">
                    <%= journalist.biography %>
                  </div>
                </div>
              </div>
              <% end %>
            </div>

            <div class="cta">
                <button class="button">
                  Exporter la liste
                </button>
            </div>

          </div>
        </div>
      </div>

    </div>


  </div>
</div>


<%= render 'shared/footer' %>



<h1>Vos favoris</h1>

<%= simple_form_for :export, url: export_path, method: :post do |f| %>
  <%= f.error_notification %>
  <%=  f.input :jists, collection: @journalists.map { |j| [j.name, j.id] }, include_blank: true, as: :check_boxes, :input_html => { multiple: true }, label: false %>
  <%= f.button :submit, class: 'btn btn-primary', value: "Exporter la liste", data: { disable_with: "Exporter la liste" } %>
<% end %>
