<div class="header-search">
<%= render 'shared/navbar' %>
  <div class="container">
    <div class="seach-result">
      <div class="row">
        <div class="col-lg-7">
            <input type="text" class="form-control" placeholder="Rechercher...">
            <p class="message_found">Affichage de <span class="bold">381</span> journalistes qui ont écrit sur <span class="bold">«BITCOIN»</span>, d'abord les plus populaire</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container jist-list">

  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="card-journalist">
      <div class="jfavorite">
        <i class="fa fa-heart" aria-hidden="true"></i>
      </div>
      <div class="jleft">
        <%= image_tag "steve-avatar.png", class:"javatar" %>
        <div class="text-center jbtn">
          <button type="button" class="btn btn-primary btn-sm">Pitchez !</button>
        </div>
      </div>
      <div class="jcontains">
        <h3>Jean-Jacques Bourdin</h3>
        <div class="l2">
          <div>
            <h5>Madyness.com</h5>
          </div>
          <div>
            <i class="fa fa-twitter hvr-bounce-in" aria-hidden="true"></i>
            <i class="fa fa-envelope hvr-bounce-in" aria-hidden="true"></i>
          </div>
        </div>
        <h5>Derniers Articles</h5>
          <p>#MaddyMoney Les startups françaises ont levé près de 90 millions d’euros du 10 au 14 octobre
          <span class="date">– 14 Oct 2016</span></p>
          <p>#MaddyMoney Les startups françaises ont levé près de 90 millions d’euros du 10 au 14 octobre
          <span class="date">– 14 Oct 2016</span></p>
          <p>#MaddyMoney Les startups françaises ont levé près de 90 millions d’euros du 10 au 14 octobre
          <span class="date">– 14 Oct 2016</span></p>
      </div>
    </div>

  <% @journalists.each do |journalist| %>
    <div class="card-journalist">
       <div class="jfavorite">
       <% if current_user && current_user.journalists.include?(journalist) %>
        <i class="fa fa-heart facact" aria-hidden="true"></i>
      <% else %>
        <%= link_to journalist_personal_lists_path(journalist.id), method: :post do %>
          <i class="fa fa-heart" aria-hidden="true"></i>
        <% end %>
      <% end %>
      </div>
      <div class="jleft">
      <% if journalist.photo_url %>
        <%= image_tag journalist.photo_url, class:"javatar" %>
      <% else %>
        <%= image_tag "steve-avatar.png", class:"javatar" %>
      <% end %>
        <div class="text-center jbtn">
          <button type="button" class="btn btn-primary btn-sm">Pitchez !</button>
        </div>
      </div>
      <div class="jcontains">
        <h3><%= journalist.first_name %> <%= journalist.last_name %></h3>
        <div class="l2">
          <div>
            <h5><%= journalist.company %></h5>
          </div>
          <div>
            <%= link_to "https://twitter.com/#{journalist.twitter_user_name}", target: "_blank" do %>
              <i class="fa fa-twitter hvr-bounce-in" aria-hidden="true"></i>
            <% end %>
            <i class="fa fa-envelope hvr-bounce-in" aria-hidden="true"></i>
          </div>
        </div>
        <h5>Derniers Articles</h5>
          <p><%= link_to journalist.articles.last.title, journalist.articles.last.link, target: "_blank" %>
          <span class="date">– <%= journalist.articles.last.writed_at %></span></p>
          <p>#MaddyMoney Les startups françaises ont levé près de 90 millions d’euros du 10 au 14 octobre
          <span class="date">– 14 Oct 2016</span></p>
          <p>#MaddyMoney Les startups françaises ont levé près de 90 millions d’euros du 10 au 14 octobre
          <span class="date">– 14 Oct 2016</span></p>
      </div>
    </div>
  <% end  %>
  </div>
  <div class="bottom-jist"></div>

</div>

<%= render 'shared/footer' %>

