<div class="sign-up forgotmdp">
  <%= render 'shared/navbar' %>

  <div class="container">
    <div class="row">
      <div class="col-md-5 logform">
        <div class="text-center login-header">
          <h2>Mot de passe oublié ? </h2>
          <p>If we have an account with your email, we will send you a password reset link.</p>
        </div>

        <div class="form">

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs b-login">
            <%= f.input :email, label: false, required: true, autofocus: true, placeholder: 'Email' %>
          </div>

          <div class="form-actions">
              <%= f.button :submit, "Retrouvez son mot de passe", class: 'btn btn-primary b-submit' %>
            </div>
        <% end %>
        </div>

        <div class="go_signup">
          <div class="text-center">
            <p>
            <%- if controller_name != 'sessions' %>
              <%= link_to "Se connecter", new_session_path(resource_name) %><br />
            <% end -%>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
