<div class="home">
<div class="nav-bar-tmp"></div>
  <div class="container">
    <div class="text-center">
    <%= image_tag "jist.png", class: "logo-center" %>
      <h2>Oubliez les agences de RP, trouvez et pitchez<br>
      les journalistes les plus pertinents</h2>
    </div>

    <div class="search-tool">
      <%= simple_form_for :research, url: journalists_path, method: :get do |f| %>
        <%= f.error_notification %>
        <div class="form-flex">
        <div class="left-input">
        <%= f.input :words, label: false, placeholder: "Entrez un mot clée pour décrire votre startup", class: "form-control" %>
        </div>
        <div class="but-input">
        <%= f.button :submit, class: 'btn btn-primary', value: "Trouvez", data: { disable_with: "Trouvez" } %>
        </div>
        </div>
      <% end %>

      <div class="example_search">ex.&nbsp;
        <span class="keyword"><a class="js-keyword" href="#">FinTech</a></span>,&nbsp;
        <span class="keyword"><a class="js-keyword" href="#">IoT</a></span>,&nbsp;
        <span class="keyword"><a class="js-keyword" href="#">Blablacar</a></span>,&nbsp;
      </div>
    </div>
    <div class="text-center">
      <div class="actions">
        <a class="explore_more" href="#">Découvrir<br><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="press-partner">
  <div class="container img-press">
    <div>
    <a href="http://mashable.france24.com/">
    <img alt="Mashable" src="http://vignette3.wikia.nocookie.net/logopedia/images/f/fb/Mashable.svg/revision/latest?cb=20141210204659">
    </a>
    </div>
    <div>
    <a href="http://www.presse-citron.net/">
    <img alt="Presse Citron" src="https://hellocasa.fr/wp-content/uploads/2014/11/logo-pressecitron-HD-copie-1024x527.png">
    </a>
    </div>
    <div>
    <a href="https://www.maddyness.com/">
    <%= image_tag "maddyness.png" %>
    </a>
    </div>
    <div>
    <a href="http://www.huffingtonpost.com/lee-schneider/how-to-get-journalists-to_b_6426294.html">
    <%= image_tag "french-web.png" %>
    </a>
    </div>
    <div>
    <a href="http://www.challenges.fr/start-up/">
    <%= image_tag "challenges.png" %>
    </a>
    </div>
  </div>
</div>

<div class="usefull-tool">
  <p class="title">Rencontrez des journalistes pertinents.</p>
  <p class="subtitle">Trouvez les bonnes personnes à pitcher<br>
  avec une simple recherche par mots clées</p>


  <div class="item_body item_body-right">
    <div class="content">
      <div class="feedback">
        <img alt="Internet" class="feedback_logo" src="https://media.giphy.com/media/WNWWvrj1Byjm/giphy.gif">
        <div class="feedback_blockquote feedback_blockquote-right">
          <p class="feedback_text">I love the philosophy behind<br>
          Jist.press, and it should be the<br>
          mantra for every marketer. Just Do It.<br>
          Don't outsource it.</p>
          <div class="feedback_charlydev">
            <div class="feedback_avatar" style="background-image: url(https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/14203146_10210657910383697_5461220090349365425_n.jpg?oh=83f959dc163661a5120d53a51ec82b4c&oe=588E06DC)">
            </div>
            <p class="feedback_name">Charly Marty, Founder of Internet</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item_img">
      <%= image_tag "screen-product.png" %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>


