<div class="sign-up">
  <%= render 'shared/navbar' %>

  <div class="container">
    <div class="row">
      <div class="col-md-5 logform">
        <div class="text-center login-header">
          <h2>Connectez-vous </h2>
        </div>

        <div class="form">

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs b-login">
            <%= f.input :email, label: false, required: false, autofocus: true, placeholder: 'Email' %>
            <%= f.input :password, label: false, required: false, placeholder: 'Mot de passe' %>
          </div>

          <div class="form-actions">
            <div class="bottom logbottom">
              <div class="forgot">
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                  <%= link_to "Mot de passe oublié ?", new_password_path(resource_name) %><br />
                <% end -%>
              </div>
              <div>
                <%= f.button :submit, "Se connecter", class: 'btn btn-primary l-submit' %>
              </div>
            </div>
          </div>
        <% end %>
        </div>

        <div class="go_signup">
          <div class="text-center">
            <p>Pas encore inscrit ?&nbsp;
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "S'inscrire", new_registration_path(resource_name) %><br />
            <% end -%></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
